.fieldBox {
  position: relative;
}

.fieldInput {
  background-color: #f5cf88;
  border: none;
  border-radius: 4px;
  outline: none;

  height: 25px;

  &:hover,
  &:focus {
    border: 1px solid #4e5d72;
  }
}

.errorMsg {
  font-size: 0.85rem;
  color: red;
  height: 22px;
}

.errorInput {
  color: red;
  border: 2px solid #d44949;

  &:hover,
  &:focus {
    border: 2px solid #d44949;
  }
}
