.contactDescr {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: auto;
  width: 75%;

  & > div {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 50%;
  }

  & a {
    padding: 1rem 0;
  }
}
