.contactList {
  overflow-y: scroll;
  height: 100%;
}

.contactItem {
  &:not(:last-child) {
    margin-bottom: 0.25rem;
  }
}

.contactLink {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 0.25rem 0.5rem;

  background-color: rgba(245, 207, 136, 0.65);
  transition: background-color 200ms ease-in-out;

  &:hover,
  &:focus {
    background-color: rgba(243, 198, 114, 0.65);
  }
}
